:root {
    --btn: #505050;
    --text: #ffffff;
    --display: #000000;

} 
body {
    background-color: var(--btn);
    font-family: 'PT Mono', 'sans-serif';
    margin:0;
    padding:0;
    color:var(--text);
    font-size: 18px;
}
button {
    
    color: var(--text);
    border: 1px solid var(--btnHover);
    font-size: 18px;
    font-family:inherit;
    font-weight: 900;
    border-radius: 100px;
}
button:hover{
    border: 1px solid var(--text);

}
#equals{
    background-color:#ff9500;
}

#display {
    font-size: 20px;
    height:21px;
    text-align:right;
    color: var(--text);
    padding-top:10px;
    padding-right:5px;

}
#output {
    font-size: 29px;
    text-align:right;
    color: var(--text);
    height:30px;
    padding-right:5px;
    padding-top:10px; 
}
.operation{
    background-color: #ff9500;
}
.number{
    background-color: var(--btn)
}
#delete, #clearAll{
    background-color: #D4D4D2;
    color: #000000;
}
main {
    height: 93vh;
    display:grid;
    justify-content: center;
    align-items:center;
}
#container {
    padding:10px;
    border-radius:15px;
    display: inline-grid;
    background-color: var(--display);
    grid-template-columns: 85px 85px 85px 85px;
    grid-template-rows: 90px 50px 50px 50px 50px 50px 50px;
    
}
#screen{
    grid-area:1/1/2/5;
    background-color:var(--btn);
    border-radius:12px;
    
}

#grid {
    display: grid;
    margin-top:50px;
    grid-template-columns: 85px 85px 85px 85px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    column-gap:1px;
    row-gap:1px;

}
#zero{
    grid-area:5/1/6/3;
}
#clearAll {
    grid-area:1/1/2/3;
}
i{
    color:#000000;
}
footer {
    height: 7vh;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;   
}